extends ../src/templates/layout
  
block content
  .container
    +trade
    br
    .container#trade-list  
    br
    .container
      h1 All Books
      hr
      if books
        each book in books
          +book-all(book)
        
  include ../src/templates/scripts.pug
  script(src="/ajax/ajax-functions.js")
  script(src="/ajax/dom-functions.js")
  script(src="/js/clickController.js") 
        
    
