extends ../src/templates/layout
  
block content
  .container
    +trade
    br
    .container#trade-list  
    br
    .container
      h1 My Books
      .row
        .col-md-4
          form(action="/add" method="POST")
            .input-group
              input#add.form-control(type="text" name="book" placeholder="Add Book")
              span.input-group-btn
                button#add-btn.btn.btn-primary(type="submit") Add
      hr
      if books
        each book in books
          +book(book)
      
  include ../src/templates/scripts.pug       
  script(src="/ajax/ajax-functions.js")
  script(src="/ajax/dom-functions.js")
  script(src="/js/clickController.js")           
