extends ../src/templates/layout
  
block content
  .container
    .row
      .col-md-6
        h1 Update Profile
        br
        form(action="/profile" method="POST")
          +form-group("name", "Name", "Name", username)
          +form-group("city", "City", "City", city)
          +form-group("state", "State", "State", state)
          br
          button.btn(class="btn btn-primary" type="submit") Save Changes
        br
        br
        h1 Change Password
        br
        form(action="/password" method="POST")
          .form-group
            label(for="old-password") Old Password
            input.form-control(id="old-password" type="password" name="old-password" placeholder="Old Password" required)
            .invalid-feedback Invalid password !
          .form-group
            label(for="new-password") New Password
            input.form-control(id="new-password" type="password" name="new-password" placeholder="New Password" required)
            .invalid-feedback Invalid password !
          br
          button.btn(class="btn btn-primary" type="submit") Save Changes
          
  include ../src/templates/scripts.pug
